@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    font-family: 'Muli', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

i {
    font-size: 25px;
}

img {
    width: 100%;
    height: auto
}

.nav {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    height: 100vh;
    background-color: rgb(44, 38, 83);
    color: #fff;
    position: fixed;
    transition: 0.5s ease-in;
}

.nav.full {
    min-width: 200px;
}

.nav .nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    padding: 3%;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 33px;
    background-color: rgb(236, 236, 236);
    transition: 1s;
}


/* @keyframes tranform-icon {
    50% {
        left: 179px;
    }
    100% {
        left: 179px;
        top: 80%;
        transform: rotate(45deg);
    }
} */

.nav .nav-icon.active {
    animation: tranform-icon 1s ease;
    left: 179px;
    top: 80%;
    transform: rotate(135deg);
    transition: 1s;
}

.nav .nav-icon i {
    color: rgb(255, 115, 0)
}

.nav .nav-content {
    position: absolute;
    top: 30%;
    left: 0;
}

.nav ul {
    margin: 0;
    padding: 10px;
}

.nav ul li {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 35px;
}

.font-display {
    font-size: 0;
    color: #fff;
    margin-top: 2px;
    transition: 0.3s ease-in;
}

.show {
    font-size: 18px;
    margin-top: 2px;
    padding-left: 10px;
}

.content {
    margin-left: 50px;
    padding: 5%;
    width: 100%
}