@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --var__primary: #ebebeb;
    --var__secondary: #ff004c;
}

body {
    font-family: 'Muli', sans-serif;
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
    /* background-color: rgb(40, 63, 97); */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-todo {
    background-color: #eeeded;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 1%;
    padding: 1.5% 1%;
    font-size: 13px;
    transition: 0.2s ease-in;
}

.box-todo.selected {
    background-color: var(--var__secondary);
    color: #fff;
    transition: 0.6s ease-in;
}

.random-generator {
    border: none;
    background-color: var(--var__secondary);
    color: #fff;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 8px;
}